In [1]:
from module_3 import *

In [2]:
experiments = {
                # RSI-BREAKOUT 10-40
                'Test-1':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April 
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-2':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-3':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 10-30
                'Test-4':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-5':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-6':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-40
                'Test-7':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-8':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-9':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-30
                'Test-10':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-11':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-12':
                        [
                        pd.date_range(start='2019-04-01',end='2021-04-01',freq='M'), # we are in 2020 April
                        'Dec 2019', # Year_1
                        'Mar 2020', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ]
                }

In [3]:
# We are at April-end 2021
# Total Window = 50
# Churn Frequency = 1 month

# Creating an Master Empty Dataframe
master_result = pd.DataFrame() 
for test in experiments: # For every test in experiments
    print(test)
    start_list = experiments[test][0]     # Assigning parameters from dictionary
    m = 100000
    year_1 = experiments[test][1]     # Assigning parameters from dictionary
    year_2 = experiments[test][2]     # Assigning parameters from dictionay
    breakout_window = experiments[test][3] #  Assigning parameters from dictionay
    RSI_divergence_window=experiments[test][4] # Assigning parameters from dictionay
    
    # Creatining an empty list to later add it in experiment results
    ports = [] # portfolios returns
    start_date = [] # start date
    end_date = [] # end date
    future_start_date =[] # future start date..when to start investing 
    future_end_date = [] # future end date..uptill when to invest 
    RSI_lists = [] # how many passed technical filters
    fundemental_lists = [] # # how many companies passed fundamental filter
    for i in range(0,len(start_list),experiments[test][5]): 
        try:
            # Assigning dates
            start = start_list[i] 
            end = start_list[i+12]
            future_start = start_list[i+12]
            future_end= start_list[i+experiments[test][6]]
            print('Start:',start)
            print("End:",end)
            print("Future Start",future_start)
            print("Future End",future_end)
            
            # Running the simulations
            port,RSI_list,fundemental_list = main(start,end,future_start,future_end,m,year_1,year_2,breakout_window=breakout_window,RSI_divergence_window=RSI_divergence_window)
            
            # appending the results
            RSI_lists.append(RSI_list)
            fundemental_lists.append(fundemental_list)
            ports.append(port)
            start_date.append(start)
            end_date.append(end)
            future_start_date.append(future_start)
            future_end_date.append(future_end)
            print("-------------------------------")
        except:
            None
    # adding columns to results dataframe
    result = pd.DataFrame()
    result['Date'] = future_start_date
    result['Test'] = test
    result['Investment Period (Months)'] = experiments[test][5]
    result['RSI Window'] = experiments[test][4]
    result['Breakout window'] = experiments[test][3]
    result['Investment Value'] = 100000
    result['Technical Filter Passed'] = RSI_lists
    result['Fundamental Filter Passed'] = fundemental_lists
    result['Exit Value'] = ports
    display(result)
    
    # Appending it to master dataframe
    master_result= pd.concat([master_result,result])

Test-1
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-05-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
95615.70879425974
-------------------------------
Start: 2019-05-31 00:00:00
End: 2020-05-31 00:00:00
Future Start 2020-05-31 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 77
Total Companies which passed fundamental filter 11
Total Companies went into HRP model 11
109595.47033125893
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
92654.29718823222
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-09-30 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
114223.03473739582
-------------------------------
Start: 2019-09-30 00:00:00
End: 2020-09-30 00:00:00
Future Start 2020-09-30 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-11-30 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-11-30 00:00:00
End: 2020-11-30 00:00:00
Future Start 2020-11-30 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 69
Total Companies which passed fundamental filter 6
Total Companies went into HRP model 6
104918.0159104339
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
95599.93966789584
-------------------------------
Start: 2020-01-31 00:00:00
End: 2021-01-31 00:00:00
Future Start 2021-01-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-02-29 00:00:00
End: 2021-02-28 00:00:00
Future Start 2021-02-28 00:00:00
Future End 2021-03-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-1,1,40,10,100000,35,7,95615.708794
1,2020-05-31,Test-1,1,40,10,100000,77,11,109595.470331
2,2020-06-30,Test-1,1,40,10,100000,22,3,92654.297188
3,2020-07-31,Test-1,1,40,10,100000,2,1,100000.000000
4,2020-08-31,Test-1,1,40,10,100000,15,2,114223.034737
5,2020-09-30,Test-1,1,40,10,100000,1,0,100000.000000
6,2020-10-31,Test-1,1,40,10,100000,6,0,100000.000000
7,2020-11-30,Test-1,1,40,10,100000,69,6,104918.015910
8,2020-12-31,Test-1,1,40,10,100000,4,2,95599.939668
9,2021-01-31,Test-1,1,40,10,100000,1,0,100000.000000
10,2021-02-28,Test-1,1,40,10,100000,4,0,100000.000000

Test-2
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
101394.978534534
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
110883.14583795438
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
110427.62885238547
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
103590.76645481595
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-2,2,40,10,100000,35,7,101394.978535
1,2020-06-30,Test-2,2,40,10,100000,22,3,110883.145838
2,2020-08-31,Test-2,2,40,10,100000,15,2,110427.628852
3,2020-10-31,Test-2,2,40,10,100000,6,0,100000.000000
4,2020-12-31,Test-2,2,40,10,100000,4,2,103590.766455

Test-3
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
109267.05737777174
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-3,3,40,10,100000,35,7,109267.057378
1,2020-07-31,Test-3,3,40,10,100000,2,1,100000.000000
2,2020-10-31,Test-3,3,40,10,100000,6,0,100000.000000

Test-4
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-05-31 00:00:00
Total companies which shows RSI Divergence 79
Total Companies which passed fundamental filter 15
Total Companies went into HRP model 15
98386.42032020513
-------------------------------
Start: 2019-05-31 00:00:00
End: 2020-05-31 00:00:00
Future Start 2020-05-31 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103369.03254770701
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 16
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
104933.07866140408
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-09-30 00:00:00
Total companies which shows RSI Divergence 24
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
97024.05034423387
-------------------------------
Start: 2019-09-30 00:00:00
End: 2020-09-30 00:00:00
Future Start 2020-09-30 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-11-30 00:00:00
Total companies which shows RSI Divergence 31
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
116952.04176957396
-------------------------------
Start: 2019-11-30 00:00:00
End: 2020-11-30 00:00:00
Future Start 2020-11-30 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 64
Total Companies which passed fundamental filter 8
Total Companies went into HRP model 8
102142.63728960554
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-01-31 00:00:00
End: 2021-01-31 00:00:00
Future Start 2021-01-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-02-29 00:00:00
End: 2021-02-28 00:00:00
Future Start 2021-02-28 00:00:00
Future End 2021-03-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-4,1,30,10,100000,79,15,98386.420320
1,2020-05-31,Test-4,1,30,10,100000,20,3,103369.032548
2,2020-06-30,Test-4,1,30,10,100000,16,2,104933.078661
3,2020-08-31,Test-4,1,30,10,100000,24,3,97024.050344
4,2020-10-31,Test-4,1,30,10,100000,31,2,116952.041770
5,2020-11-30,Test-4,1,30,10,100000,64,8,102142.637290
6,2020-12-31,Test-4,1,30,10,100000,1,0,100000.000000
7,2021-01-31,Test-4,1,30,10,100000,1,0,100000.000000
8,2021-02-28,Test-4,1,30,10,100000,4,0,100000.000000

Test-5
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 79
Total Companies which passed fundamental filter 15
Total Companies went into HRP model 15
110353.43435608863
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 16
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
106374.65105418398
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 24
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
101050.32987484426
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 31
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
124688.75839188852
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-5,2,30,10,100000,79,15,110353.434356
1,2020-06-30,Test-5,2,30,10,100000,16,2,106374.651054
2,2020-08-31,Test-5,2,30,10,100000,24,3,101050.329875
3,2020-10-31,Test-5,2,30,10,100000,31,2,124688.758392
4,2020-12-31,Test-5,2,30,10,100000,1,0,100000.000000

Test-6
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 79
Total Companies which passed fundamental filter 15
Total Companies went into HRP model 15
112529.84793249876
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 31
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
123975.46350772525
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-6,3,30,10,100000,79,15,112529.847932
1,2020-10-31,Test-6,3,30,10,100000,31,2,123975.463508

Test-7
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-05-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-05-31 00:00:00
End: 2020-05-31 00:00:00
Future Start 2020-05-31 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 98
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
99655.38802427385
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-09-30 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-09-30 00:00:00
End: 2020-09-30 00:00:00
Future Start 2020-09-30 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-11-30 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-11-30 00:00:00
End: 2020-11-30 00:00:00
Future Start 2020-11-30 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 99
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
105522.69405951237
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
97091.01886397155
-------------------------------
Start: 2020-01-31 00:00:00
End: 2021-01-31 00:00:00
Future Start 2021-01-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2020-02-29 00:00:00
End: 2021-02-28 00:00:00
Future Start 2021-02-28 00:00:00
Future End 2021-03-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-7,1,40,20,100000,20,1,100000.000000
1,2020-06-30,Test-7,1,40,20,100000,17,5,99655.388024
2,2020-07-31,Test-7,1,40,20,100000,4,1,100000.000000
3,2020-08-31,Test-7,1,40,20,100000,4,0,100000.000000
4,2020-09-30,Test-7,1,40,20,100000,7,1,100000.000000
5,2020-10-31,Test-7,1,40,20,100000,9,1,100000.000000
6,2020-11-30,Test-7,1,40,20,100000,99,9,105522.694060
7,2020-12-31,Test-7,1,40,20,100000,13,4,97091.018864
8,2021-02-28,Test-7,1,40,20,100000,7,0,100000.000000

Test-8
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
119816.8196314615
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
102020.85580647417
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-8,2,40,20,100000,20,1,100000.000000
1,2020-06-30,Test-8,2,40,20,100000,17,5,119816.819631
2,2020-08-31,Test-8,2,40,20,100000,4,0,100000.000000
3,2020-10-31,Test-8,2,40,20,100000,9,1,100000.000000
4,2020-12-31,Test-8,2,40,20,100000,13,4,102020.855806

Test-9
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-9,3,40,20,100000,20,1,100000
1,2020-07-31,Test-9,3,40,20,100000,4,1,100000
2,2020-10-31,Test-9,3,40,20,100000,9,1,100000

Test-10
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-05-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-05-31 00:00:00
End: 2020-05-31 00:00:00
Future Start 2020-05-31 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 63
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
107391.3570143673
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-09-30 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
104135.07227342323
-------------------------------
Start: 2019-09-30 00:00:00
End: 2020-09-30 00:00:00
Future Start 2020-09-30 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-11-30 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
106272.66493873308
-------------------------------
Start: 2019-11-30 00:00:00
End: 2020-11-30 00:00:00
Future Start 2020-11-30 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 83
Total Companies which passed fundamental filter 11
Total Companies went into HRP model 11
106829.14256633175
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
94958.01371121548
-------------------------------
Start: 2020-01-31 00:00:00
End: 2021-01-31 00:00:00
Future Start 2021-01-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2020-02-29 00:00:00
End: 2021-02-28 00:00:00
Future Start 2021-02-28 00:00:00
Future End 2021-03-31 00:00:00
Total companies which shows RSI Divergence 10
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
98205.38337059345
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-10,1,30,20,100000,35,1,100000.000000
1,2020-05-31,Test-10,1,30,20,100000,63,7,107391.357014
2,2020-06-30,Test-10,1,30,20,100000,6,1,100000.000000
3,2020-07-31,Test-10,1,30,20,100000,4,1,100000.000000
4,2020-08-31,Test-10,1,30,20,100000,17,3,104135.072273
5,2020-09-30,Test-10,1,30,20,100000,1,0,100000.000000
6,2020-10-31,Test-10,1,30,20,100000,9,3,106272.664939
7,2020-11-30,Test-10,1,30,20,100000,83,11,106829.142566
8,2020-12-31,Test-10,1,30,20,100000,15,4,94958.013711
9,2021-02-28,Test-10,1,30,20,100000,10,2,98205.383371

Test-11
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-06-30 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-06-30 00:00:00
End: 2020-06-30 00:00:00
Future Start 2020-06-30 00:00:00
Future End 2020-08-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-08-31 00:00:00
End: 2020-08-31 00:00:00
Future Start 2020-08-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
100117.99328769659
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2020-12-31 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103492.3210337879
-------------------------------
Start: 2019-12-31 00:00:00
End: 2020-12-31 00:00:00
Future Start 2020-12-31 00:00:00
Future End 2021-02-28 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
98726.00133964632
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-11,2,30,20,100000,35,1,100000.000000
1,2020-06-30,Test-11,2,30,20,100000,6,1,100000.000000
2,2020-08-31,Test-11,2,30,20,100000,17,3,100117.993288
3,2020-10-31,Test-11,2,30,20,100000,9,3,103492.321034
4,2020-12-31,Test-11,2,30,20,100000,15,4,98726.001340

Test-12
Start: 2019-04-30 00:00:00
End: 2020-04-30 00:00:00
Future Start 2020-04-30 00:00:00
Future End 2020-07-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-07-31 00:00:00
End: 2020-07-31 00:00:00
Future Start 2020-07-31 00:00:00
Future End 2020-10-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-10-31 00:00:00
End: 2020-10-31 00:00:00
Future Start 2020-10-31 00:00:00
Future End 2021-01-31 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
104633.5657387668
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-12,3,30,20,100000,35,1,100000.000000
1,2020-07-31,Test-12,3,30,20,100000,4,1,100000.000000
2,2020-10-31,Test-12,3,30,20,100000,9,3,104633.565739

In [4]:
master_result

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2020-04-30,Test-1,1,40,10,100000,35,7,95615.708794
1,2020-05-31,Test-1,1,40,10,100000,77,11,109595.470331
2,2020-06-30,Test-1,1,40,10,100000,22,3,92654.297188
3,2020-07-31,Test-1,1,40,10,100000,2,1,100000.000000
4,2020-08-31,Test-1,1,40,10,100000,15,2,114223.034737
...,...,...,...,...,...,...,...,...,...
3,2020-10-31,Test-11,2,30,20,100000,9,3,103492.321034
4,2020-12-31,Test-11,2,30,20,100000,15,4,98726.001340
0,2020-04-30,Test-12,3,30,20,100000,35,1,100000.000000
1,2020-07-31,Test-12,3,30,20,100000,4,1,100000.000000
2,2020-10-31,Test-12,3,30,20,100000,9,3,104633.565739

In [5]:
test_result = master_result[master_result['Test']=='Test-1']
test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
test_result

test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
test_return 

report = pd.DataFrame()
report_rsi_list = []
report_breakout_list = []
report_month = []
for test in experiments:
    report_breakout_list.append(experiments[test][3])
    report_rsi_list.append(experiments[test][4])
    report_month.append(experiments[test][5])

report['RSI Window'] = report_rsi_list
report['Breakout Window'] = report_breakout_list
report['Investment Period'] = report_month
    
test_return_list = []
for test in experiments:
    test_result = master_result[master_result['Test']==test]
    test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
    test_result
    test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
    test_return_list.append(test_return)
    
# Adding a Returns column
report['Returns (%)'] =  test_return_list

# Changing the index name to test names
report.set_axis(experiments.keys(),inplace=True)
report

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        11.24
Test-2           40               10                  2        28.61
Test-3           40               10                  3         9.27
Test-4           30               10                  1        23.69
Test-5           30               10                  2        47.91
Test-6           30               10                  3        39.51
Test-7           40               20                  1         2.10
Test-8           40               20                  2        22.24
Test-9           40               20                  3         0.00
Test-10          30               20                  1        18.40
Test-11          30               20                  2         2.29
Test-12          30               20                  3         4.63

In [6]:
report[report['Investment Period']==1]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        11.24
Test-4           30               10                  1        23.69
Test-7           40               20                  1         2.10
Test-10          30               20                  1        18.40

In [7]:
report[report['Investment Period']==2]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-2           40               10                  2        28.61
Test-5           30               10                  2        47.91
Test-8           40               20                  2        22.24
Test-11          30               20                  2         2.29

In [8]:
report[report['Investment Period']==3]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-3           40               10                  3         9.27
Test-6           30               10                  3        39.51
Test-9           40               20                  3         0.00
Test-12          30               20                  3         4.63

In [9]:
master_result.to_csv('Experiment 2020-2021 Master Result.csv')
report.to_csv('Experiment 2020-2021 Report.csv')