In [1]:
from module_3 import *

In [15]:
experiments = {
                # RSI-BREAKOUT 10-40
                'Test-1':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April 
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-2':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-3':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 10-30
                'Test-4':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-5':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-6':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-40
                'Test-7':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-8':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-9':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-30
                'Test-10':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-11':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-12':
                        [
                        pd.date_range(start='2020-04-01',end='2022-05-01',freq='M'), # we are in 2021 April
                        'Dec 2020', # Year_1
                        'Mar 2021', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ]


                }

In [16]:
# We are at April-end 2021
# Total Window = 50
# Churn Frequency = 1 month

# Creating an Master Empty Dataframe
master_result = pd.DataFrame() 
for test in experiments: # For every test in experiments
    print(test)
    start_list = experiments[test][0]     # Assigning parameters from dictionary
    m = 100000
    year_1 = experiments[test][1]     # Assigning parameters from dictionary
    year_2 = experiments[test][2]     # Assigning parameters from dictionay
    breakout_window = experiments[test][3] #  Assigning parameters from dictionay
    RSI_divergence_window=experiments[test][4] # Assigning parameters from dictionay
    
    # Creatining an empty list to later add it in experiment results
    ports = [] # portfolios returns
    start_date = [] # start date
    end_date = [] # end date
    future_start_date =[] # future start date..when to start investing 
    future_end_date = [] # future end date..uptill when to invest 
    RSI_lists = [] # how many passed technical filters
    fundemental_lists = [] # # how many companies passed fundamental filter
    for i in range(0,len(start_list),experiments[test][5]): 
        try:
            # Assigning dates
            start = start_list[i] 
            end = start_list[i+12]
            future_start = start_list[i+12]
            future_end= start_list[i+experiments[test][6]]
            print('Start:',start)
            print("End:",end)
            print("Future Start",future_start)
            print("Future End",future_end)
            
            # Running the simulations
            port,RSI_list,fundemental_list = main(start,end,future_start,future_end,m,year_1,year_2,breakout_window=breakout_window,RSI_divergence_window=RSI_divergence_window)
            
            # appending the results
            RSI_lists.append(RSI_list)
            fundemental_lists.append(fundemental_list)
            ports.append(port)
            start_date.append(start)
            end_date.append(end)
            future_start_date.append(future_start)
            future_end_date.append(future_end)
            print("-------------------------------")
        except:
            None
    # adding columns to results dataframe
    result = pd.DataFrame()
    result['Date'] = future_start_date
    result['Test'] = test
    result['Investment Period (Months)'] = experiments[test][5]
    result['RSI Window'] = experiments[test][4]
    result['Breakout window'] = experiments[test][3]
    result['Investment Value'] = 100000
    result['Technical Filter Passed'] = RSI_lists
    result['Fundamental Filter Passed'] = fundemental_lists
    result['Exit Value'] = ports
    display(result)
    
    # Appending it to master dataframe
    master_result= pd.concat([master_result,result])

Test-1
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-05-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
104082.59088803103
-------------------------------
Start: 2020-05-31 00:00:00
End: 2021-05-31 00:00:00
Future Start 2021-05-31 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 95
Total Companies which passed fundamental filter 11
Total Companies went into HRP model 11
103299.4871354154
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
100529.81118023799
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-09-30 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
105330.39121029107
-------------------------------
Start: 2020-09-30 00:00:00
End: 2021-09-30 00:00:00
Future Start 2021-09-30 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
100226.49450412681
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-11-30 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-11-30 00:00:00
End: 2021-11-30 00:00:00
Future Start 2021-11-30 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 66
Total Companies which passed fundamental filter 17
Total Companies went into HRP model 17
97291.47474569213
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-03-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-03-31 00:00:00
End: 2022-03-31 00:00:00
Future Start 2022-03-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 45
Total Companies which passed fundamental filter 8
Total Companies went into HRP model 8
100741.97292882059
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-1,1,40,10,100000,14,4,104082.590888
1,2021-05-31,Test-1,1,40,10,100000,95,11,103299.487135
2,2021-06-30,Test-1,1,40,10,100000,2,1,100000.000000
3,2021-07-31,Test-1,1,40,10,100000,12,2,100529.811180
4,2021-08-31,Test-1,1,40,10,100000,17,2,105330.391210
5,2021-09-30,Test-1,1,40,10,100000,37,4,100226.494504
6,2021-10-31,Test-1,1,40,10,100000,1,0,100000.000000
7,2021-11-30,Test-1,1,40,10,100000,4,0,100000.000000
8,2021-12-31,Test-1,1,40,10,100000,66,17,97291.474746
9,2022-01-31,Test-1,1,40,10,100000,1,0,100000.000000
10,2022-02-28,Test-1,1,40,10,100000,3,1,100000.000000
11,2022-03-31,Test-1,1,40,10,100000,45,8,100741.972929

Test-2
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
111199.75177476218
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
107893.72543819499
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 66
Total Companies which passed fundamental filter 17
Total Companies went into HRP model 17
88757.27615833365
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-2,2,40,10,100000,14,4,111199.751775
1,2021-06-30,Test-2,2,40,10,100000,2,1,100000.000000
2,2021-08-31,Test-2,2,40,10,100000,17,2,107893.725438
3,2021-10-31,Test-2,2,40,10,100000,1,0,100000.000000
4,2021-12-31,Test-2,2,40,10,100000,66,17,88757.276158
5,2022-02-28,Test-2,2,40,10,100000,3,1,100000.000000

Test-3
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
113694.79239181429
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
111482.5901390851
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-3,3,40,10,100000,14,4,113694.792392
1,2021-07-31,Test-3,3,40,10,100000,12,2,111482.590139
2,2021-10-31,Test-3,3,40,10,100000,1,0,100000.000000
3,2022-01-31,Test-3,3,40,10,100000,1,0,100000.000000

Test-4
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-05-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
116734.78751636998
-------------------------------
Start: 2020-05-31 00:00:00
End: 2021-05-31 00:00:00
Future Start 2021-05-31 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 77
Total Companies which passed fundamental filter 13
Total Companies went into HRP model 13
102221.23949078613
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
95485.51287776638
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-09-30 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-09-30 00:00:00
End: 2021-09-30 00:00:00
Future Start 2021-09-30 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 49
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
107697.31736370819
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-11-30 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2020-11-30 00:00:00
End: 2021-11-30 00:00:00
Future Start 2021-11-30 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
101756.685479018
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 60
Total Companies which passed fundamental filter 13
Total Companies went into HRP model 13
97928.40648408745
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-03-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-03-31 00:00:00
End: 2022-03-31 00:00:00
Future Start 2022-03-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 73
Total Companies which passed fundamental filter 14
Total Companies went into HRP model 14
95430.16617183578
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-4,1,30,10,100000,20,4,116734.787516
1,2021-05-31,Test-4,1,30,10,100000,77,13,102221.239491
2,2021-06-30,Test-4,1,30,10,100000,4,0,100000.000000
3,2021-07-31,Test-4,1,30,10,100000,14,4,95485.512878
4,2021-08-31,Test-4,1,30,10,100000,15,1,100000.000000
5,2021-09-30,Test-4,1,30,10,100000,49,7,107697.317364
6,2021-11-30,Test-4,1,30,10,100000,7,2,101756.685479
7,2021-12-31,Test-4,1,30,10,100000,60,13,97928.406484
8,2022-01-31,Test-4,1,30,10,100000,5,0,100000.000000
9,2022-02-28,Test-4,1,30,10,100000,1,0,100000.000000
10,2022-03-31,Test-4,1,30,10,100000,73,14,95430.166172

Test-5
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
120197.96128608013
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 60
Total Companies which passed fundamental filter 13
Total Companies went into HRP model 13
87229.07629720398
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-5,2,30,10,100000,20,4,120197.961286
1,2021-06-30,Test-5,2,30,10,100000,4,0,100000.000000
2,2021-08-31,Test-5,2,30,10,100000,15,1,100000.000000
3,2021-12-31,Test-5,2,30,10,100000,60,13,87229.076297
4,2022-02-28,Test-5,2,30,10,100000,1,0,100000.000000

Test-6
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
127394.75357021799
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
105193.5808978403
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-6,3,30,10,100000,20,4,127394.753570
1,2021-07-31,Test-6,3,30,10,100000,14,4,105193.580898
2,2022-01-31,Test-6,3,30,10,100000,5,0,100000.000000

Test-7
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-05-31 00:00:00
Total companies which shows RSI Divergence 19
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
106466.82549414947
-------------------------------
Start: 2020-05-31 00:00:00
End: 2021-05-31 00:00:00
Future Start 2021-05-31 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 30
Total Companies which passed fundamental filter 6
Total Companies went into HRP model 6
101466.9266496207
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
108486.56046033445
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-09-30 00:00:00
Total companies which shows RSI Divergence 1
Start: 2020-09-30 00:00:00
End: 2021-09-30 00:00:00
Future Start 2021-09-30 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
94932.91962067445
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-11-30 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-11-30 00:00:00
End: 2021-11-30 00:00:00
Future Start 2021-11-30 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
97614.12884342285
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
98311.20204443877
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-03-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-03-31 00:00:00
End: 2022-03-31 00:00:00
Future Start 2022-03-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
101252.88323983834
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-7,1,40,20,100000,19,4,106466.825494
1,2021-05-31,Test-7,1,40,20,100000,30,6,101466.926650
2,2021-06-30,Test-7,1,40,20,100000,6,3,108486.560460
3,2021-07-31,Test-7,1,40,20,100000,1,0,100000.000000
4,2021-09-30,Test-7,1,40,20,100000,20,3,94932.919621
5,2021-10-31,Test-7,1,40,20,100000,17,1,100000.000000
6,2021-11-30,Test-7,1,40,20,100000,6,1,100000.000000
7,2021-12-31,Test-7,1,40,20,100000,15,4,97614.128843
8,2022-01-31,Test-7,1,40,20,100000,13,2,98311.202044
9,2022-02-28,Test-7,1,40,20,100000,2,0,100000.000000
10,2022-03-31,Test-7,1,40,20,100000,15,2,101252.883240

Test-8
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 19
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
108348.89274542792
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
111561.24202333801
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 1
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
88181.32540218029
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-8,2,40,20,100000,19,4,108348.892745
1,2021-06-30,Test-8,2,40,20,100000,6,3,111561.242023
2,2021-10-31,Test-8,2,40,20,100000,17,1,100000.000000
3,2021-12-31,Test-8,2,40,20,100000,15,4,88181.325402
4,2022-02-28,Test-8,2,40,20,100000,2,0,100000.000000

Test-9
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 19
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
118490.17874735051
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
108848.52431195865
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-9,3,40,20,100000,19,4,118490.178747
1,2021-07-31,Test-9,3,40,20,100000,1,0,100000.000000
2,2021-10-31,Test-9,3,40,20,100000,17,1,100000.000000
3,2022-01-31,Test-9,3,40,20,100000,13,2,108848.524312

Test-10
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-05-31 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-05-31 00:00:00
End: 2021-05-31 00:00:00
Future Start 2021-05-31 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 82
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
108860.06295337454
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-09-30 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
102794.11158252296
-------------------------------
Start: 2020-09-30 00:00:00
End: 2021-09-30 00:00:00
Future Start 2021-09-30 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 46
Total Companies which passed fundamental filter 6
Total Companies went into HRP model 6
97723.17366118125
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-11-30 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-11-30 00:00:00
End: 2021-11-30 00:00:00
Future Start 2021-11-30 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 8
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 30
Total Companies which passed fundamental filter 8
Total Companies went into HRP model 8
100240.15829856825
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 28
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
90697.65965745886
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-03-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-03-31 00:00:00
End: 2022-03-31 00:00:00
Future Start 2022-03-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 65
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
101596.80613961675
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-10,1,30,20,100000,11,0,100000.000000
1,2021-05-31,Test-10,1,30,20,100000,82,9,108860.062953
2,2021-06-30,Test-10,1,30,20,100000,4,1,100000.000000
3,2021-07-31,Test-10,1,30,20,100000,2,0,100000.000000
4,2021-08-31,Test-10,1,30,20,100000,12,2,102794.111583
5,2021-09-30,Test-10,1,30,20,100000,46,6,97723.173661
6,2021-10-31,Test-10,1,30,20,100000,11,1,100000.000000
7,2021-11-30,Test-10,1,30,20,100000,8,0,100000.000000
8,2021-12-31,Test-10,1,30,20,100000,30,8,100240.158299
9,2022-01-31,Test-10,1,30,20,100000,28,3,90697.659657
10,2022-02-28,Test-10,1,30,20,100000,1,0,100000.000000
11,2022-03-31,Test-10,1,30,20,100000,65,9,101596.806140

Test-11
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-06-30 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-06-30 00:00:00
End: 2021-06-30 00:00:00
Future Start 2021-06-30 00:00:00
Future End 2021-08-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-08-31 00:00:00
End: 2021-08-31 00:00:00
Future Start 2021-08-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
101734.58844566336
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2021-12-31 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-12-31 00:00:00
End: 2021-12-31 00:00:00
Future Start 2021-12-31 00:00:00
Future End 2022-02-28 00:00:00
Total companies which shows RSI Divergence 30
Total Companies which passed fundamental filter 8
Total Companies went into HRP model 8
91560.8469122618
-------------------------------
Start: 2021-02-28 00:00:00
End: 2022-02-28 00:00:00
Future Start 2022-02-28 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-11,2,30,20,100000,11,0,100000.000000
1,2021-06-30,Test-11,2,30,20,100000,4,1,100000.000000
2,2021-08-31,Test-11,2,30,20,100000,12,2,101734.588446
3,2021-10-31,Test-11,2,30,20,100000,11,1,100000.000000
4,2021-12-31,Test-11,2,30,20,100000,30,8,91560.846912
5,2022-02-28,Test-11,2,30,20,100000,1,0,100000.000000

Test-12
Start: 2020-04-30 00:00:00
End: 2021-04-30 00:00:00
Future Start 2021-04-30 00:00:00
Future End 2021-07-31 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-07-31 00:00:00
End: 2021-07-31 00:00:00
Future Start 2021-07-31 00:00:00
Future End 2021-10-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2020-10-31 00:00:00
End: 2021-10-31 00:00:00
Future Start 2021-10-31 00:00:00
Future End 2022-01-31 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2021-01-31 00:00:00
End: 2022-01-31 00:00:00
Future Start 2022-01-31 00:00:00
Future End 2022-04-30 00:00:00
Total companies which shows RSI Divergence 28
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
104966.58907051191
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-12,3,30,20,100000,11,0,100000.000000
1,2021-07-31,Test-12,3,30,20,100000,2,0,100000.000000
2,2021-10-31,Test-12,3,30,20,100000,11,1,100000.000000
3,2022-01-31,Test-12,3,30,20,100000,28,3,104966.589071

In [88]:
master_result

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2021-04-30,Test-1,1,40,10,100000,14,4,104082.590888
1,2021-05-31,Test-1,1,40,10,100000,95,11,103299.487135
2,2021-06-30,Test-1,1,40,10,100000,2,1,100000.000000
3,2021-07-31,Test-1,1,40,10,100000,12,2,100529.811180
4,2021-08-31,Test-1,1,40,10,100000,17,2,105330.391210
...,...,...,...,...,...,...,...,...,...
5,2022-02-28,Test-11,2,30,20,100000,1,0,100000.000000
0,2021-04-30,Test-12,3,30,20,100000,11,0,100000.000000
1,2021-07-31,Test-12,3,30,20,100000,2,0,100000.000000
2,2021-10-31,Test-12,3,30,20,100000,11,1,100000.000000
3,2022-01-31,Test-12,3,30,20,100000,28,3,104966.589071

In [106]:
test_result = master_result[master_result['Test']=='Test-1']
test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
test_result

test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
test_return 

report = pd.DataFrame()
report_rsi_list = []
report_breakout_list = []
report_month = []
for test in experiments:
    report_breakout_list.append(experiments[test][3])
    report_rsi_list.append(experiments[test][4])
    report_month.append(experiments[test][5])

report['RSI Window'] = report_rsi_list
report['Breakout Window'] = report_breakout_list
report['Investment Period'] = report_month
    
test_return_list = []
for test in experiments:
    test_result = master_result[master_result['Test']==test]
    test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
    test_result
    test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
    test_return_list.append(test_return)
    
# Adding a Returns column
report['Returns (%)'] =  test_return_list

# Changing the index name to test names
report.set_axis(experiments.keys(),inplace=True)
report

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        11.84
Test-2           40               10                  2         6.49
Test-3           40               10                  3        26.75
Test-4           30               10                  1        16.69
Test-5           30               10                  2         4.85
Test-6           30               10                  3        34.01
Test-7           40               20                  1         8.11
Test-8           40               20                  2         6.59
Test-9           40               20                  3        28.97
Test-10          30               20                  1         1.01
Test-11          30               20                  2        -6.85
Test-12          30               20                  3         4.97

In [111]:
report[report['Investment Period']==1]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        11.84
Test-4           30               10                  1        16.69
Test-7           40               20                  1         8.11
Test-10          30               20                  1         1.01

In [112]:
report[report['Investment Period']==2]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-2           40               10                  2         6.49
Test-5           30               10                  2         4.85
Test-8           40               20                  2         6.59
Test-11          30               20                  2        -6.85

In [113]:
report[report['Investment Period']==3]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-3           40               10                  3        26.75
Test-6           30               10                  3        34.01
Test-9           40               20                  3        28.97
Test-12          30               20                  3         4.97

In [115]:
master_result.to_csv('Experiment 2021-2022 Master Result.csv')
report.to_csv('Experiment 2021-2022 Report')