In [1]:
from module_3 import *

In [2]:
experiments = {
                # RSI-BREAKOUT 10-40
                'Test-1':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April  
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-2':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-3':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 10-30
                'Test-4':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-5':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-6':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-40
                'Test-7':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-8':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-9':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-30
                'Test-10':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-11':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-12':
                        [
                        pd.date_range(start='2018-04-01',end='2020-04-01',freq='M'), # we are in 2019 April 
                        'Dec 2018', # Year_1
                        'Mar 2019', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ]
                }

In [3]:
# We are at April-end 2021
# Total Window = 50
# Churn Frequency = 1 month

# Creating an Master Empty Dataframe
master_result = pd.DataFrame() 
for test in experiments: # For every test in experiments
    print(test)
    start_list = experiments[test][0]     # Assigning parameters from dictionary
    m = 100000
    year_1 = experiments[test][1]     # Assigning parameters from dictionary
    year_2 = experiments[test][2]     # Assigning parameters from dictionay
    breakout_window = experiments[test][3] #  Assigning parameters from dictionay
    RSI_divergence_window=experiments[test][4] # Assigning parameters from dictionay
    
    # Creatining an empty list to later add it in experiment results
    ports = [] # portfolios returns
    start_date = [] # start date
    end_date = [] # end date
    future_start_date =[] # future start date..when to start investing 
    future_end_date = [] # future end date..uptill when to invest 
    RSI_lists = [] # how many passed technical filters
    fundemental_lists = [] # # how many companies passed fundamental filter
    for i in range(0,len(start_list),experiments[test][5]): 
        try:
            # Assigning dates
            start = start_list[i] 
            end = start_list[i+12]
            future_start = start_list[i+12]
            future_end= start_list[i+experiments[test][6]]
            print('Start:',start)
            print("End:",end)
            print("Future Start",future_start)
            print("Future End",future_end)
            
            # Running the simulations
            port,RSI_list,fundemental_list = main(start,end,future_start,future_end,m,year_1,year_2,breakout_window=breakout_window,RSI_divergence_window=RSI_divergence_window)
            
            # appending the results
            RSI_lists.append(RSI_list)
            fundemental_lists.append(fundemental_list)
            ports.append(port)
            start_date.append(start)
            end_date.append(end)
            future_start_date.append(future_start)
            future_end_date.append(future_end)
            print("-------------------------------")
        except:
            None
    # adding columns to results dataframe
    result = pd.DataFrame()
    result['Date'] = future_start_date
    result['Test'] = test
    result['Investment Period (Months)'] = experiments[test][5]
    result['RSI Window'] = experiments[test][4]
    result['Breakout window'] = experiments[test][3]
    result['Investment Value'] = 100000
    result['Technical Filter Passed'] = RSI_lists
    result['Fundamental Filter Passed'] = fundemental_lists
    result['Exit Value'] = ports
    display(result)
    
    # Appending it to master dataframe
    master_result= pd.concat([master_result,result])

Test-1
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-05-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-05-31 00:00:00
End: 2019-05-31 00:00:00
Future Start 2019-05-31 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
93182.7641097368
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 53
Total Companies which passed fundamental filter 10
Total Companies went into HRP model 10
98088.1794676299
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 8
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
95954.79046873753
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-09-30 00:00:00
Total companies which shows RSI Divergence 25
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
111123.22436611947
-------------------------------
Start: 2018-09-30 00:00:00
End: 2019-09-30 00:00:00
Future Start 2019-09-30 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 150
Total Companies which passed fundamental filter 23
Total Companies went into HRP model 23
102875.13234187456
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-11-30 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103335.72385060508
-------------------------------
Start: 2018-11-30 00:00:00
End: 2019-11-30 00:00:00
Future Start 2019-11-30 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 24
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103799.0179453951
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 23
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
116624.55162085273
-------------------------------
Start: 2019-01-31 00:00:00
End: 2020-01-31 00:00:00
Future Start 2020-01-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 23
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
77074.07440153362
-------------------------------
Start: 2019-02-28 00:00:00
End: 2020-02-29 00:00:00
Future Start 2020-02-29 00:00:00
Future End 2020-03-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-1,1,40,10,100000,3,0,100000.000000
1,2019-05-31,Test-1,1,40,10,100000,7,2,93182.764110
2,2019-06-30,Test-1,1,40,10,100000,53,10,98088.179468
3,2019-07-31,Test-1,1,40,10,100000,8,2,95954.790469
4,2019-08-31,Test-1,1,40,10,100000,25,7,111123.224366
5,2019-09-30,Test-1,1,40,10,100000,150,23,102875.132342
6,2019-10-31,Test-1,1,40,10,100000,37,3,103335.723851
7,2019-11-30,Test-1,1,40,10,100000,24,3,103799.017945
8,2019-12-31,Test-1,1,40,10,100000,23,4,116624.551621
9,2020-01-31,Test-1,1,40,10,100000,23,2,77074.074402
10,2020-02-29,Test-1,1,40,10,100000,2,0,100000.000000

Test-2
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 53
Total Companies which passed fundamental filter 10
Total Companies went into HRP model 10
97423.8826805331
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 25
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
116900.40615681674
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
96713.91352066057
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 23
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
106344.08068118033
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-2,2,40,10,100000,3,0,100000.000000
1,2019-06-30,Test-2,2,40,10,100000,53,10,97423.882681
2,2019-08-31,Test-2,2,40,10,100000,25,7,116900.406157
3,2019-10-31,Test-2,2,40,10,100000,37,3,96713.913521
4,2019-12-31,Test-2,2,40,10,100000,23,4,106344.080681

Test-3
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 8
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
93010.85219015997
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
100452.64463806461
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-3,3,40,10,100000,3,0,100000.000000
1,2019-07-31,Test-3,3,40,10,100000,8,2,93010.852190
2,2019-10-31,Test-3,3,40,10,100000,37,3,100452.644638

Test-4
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-05-31 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-05-31 00:00:00
End: 2019-05-31 00:00:00
Future Start 2019-05-31 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
97399.1836086665
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 27
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
104430.65630853747
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
100555.85619416411
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-09-30 00:00:00
Total companies which shows RSI Divergence 31
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
112340.83853596175
-------------------------------
Start: 2018-09-30 00:00:00
End: 2019-09-30 00:00:00
Future Start 2019-09-30 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 107
Total Companies which passed fundamental filter 12
Total Companies went into HRP model 12
101184.78762054886
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-11-30 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103190.39466031302
-------------------------------
Start: 2018-11-30 00:00:00
End: 2019-11-30 00:00:00
Future Start 2019-11-30 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 21
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
94445.76071294669
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 39
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
116120.91476574296
-------------------------------
Start: 2019-01-31 00:00:00
End: 2020-01-31 00:00:00
Future Start 2020-01-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-02-28 00:00:00
End: 2020-02-29 00:00:00
Future Start 2020-02-29 00:00:00
Future End 2020-03-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-4,1,30,10,100000,5,0,100000.000000
1,2019-05-31,Test-4,1,30,10,100000,20,2,97399.183609
2,2019-06-30,Test-4,1,30,10,100000,27,5,104430.656309
3,2019-07-31,Test-4,1,30,10,100000,7,2,100555.856194
4,2019-08-31,Test-4,1,30,10,100000,31,5,112340.838536
5,2019-09-30,Test-4,1,30,10,100000,107,12,101184.787621
6,2019-10-31,Test-4,1,30,10,100000,20,3,103190.394660
7,2019-11-30,Test-4,1,30,10,100000,21,3,94445.760713
8,2019-12-31,Test-4,1,30,10,100000,39,4,116120.914766
9,2020-01-31,Test-4,1,30,10,100000,14,1,100000.000000
10,2020-02-29,Test-4,1,30,10,100000,2,1,100000.000000

Test-5
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 27
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
101767.36782389296
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 31
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
117015.13544908239
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
101824.53803171494
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 39
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
106647.73376673511
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-5,2,30,10,100000,5,0,100000.000000
1,2019-06-30,Test-5,2,30,10,100000,27,5,101767.367824
2,2019-08-31,Test-5,2,30,10,100000,31,5,117015.135449
3,2019-10-31,Test-5,2,30,10,100000,20,3,101824.538032
4,2019-12-31,Test-5,2,30,10,100000,39,4,106647.733767

Test-6
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
111564.20704473465
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 20
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
100967.80148724909
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-6,3,30,10,100000,5,0,100000.000000
1,2019-07-31,Test-6,3,30,10,100000,7,2,111564.207045
2,2019-10-31,Test-6,3,30,10,100000,20,3,100967.801487

Test-7
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-05-31 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
106256.21830346737
-------------------------------
Start: 2018-05-31 00:00:00
End: 2019-05-31 00:00:00
Future Start 2019-05-31 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
95954.79046873753
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-09-30 00:00:00
Total companies which shows RSI Divergence 16
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
107501.58287065147
-------------------------------
Start: 2018-09-30 00:00:00
End: 2019-09-30 00:00:00
Future Start 2019-09-30 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 113
Total Companies which passed fundamental filter 15
Total Companies went into HRP model 15
103681.7953830836
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-11-30 00:00:00
Total companies which shows RSI Divergence 75
Start: 2018-11-30 00:00:00
End: 2019-11-30 00:00:00
Future Start 2019-11-30 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 10
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 10
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2019-01-31 00:00:00
End: 2020-01-31 00:00:00
Future Start 2020-01-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 51
Total Companies which passed fundamental filter 8
Total Companies went into HRP model 8
94954.88946416075
-------------------------------
Start: 2019-02-28 00:00:00
End: 2020-02-29 00:00:00
Future Start 2020-02-29 00:00:00
Future End 2020-03-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-7,1,40,20,100000,22,2,106256.218303
1,2019-05-31,Test-7,1,40,20,100000,7,1,100000.000000
2,2019-06-30,Test-7,1,40,20,100000,6,1,100000.000000
3,2019-07-31,Test-7,1,40,20,100000,7,2,95954.790469
4,2019-08-31,Test-7,1,40,20,100000,16,2,107501.582871
5,2019-09-30,Test-7,1,40,20,100000,113,15,103681.795383
6,2019-11-30,Test-7,1,40,20,100000,10,1,100000.000000
7,2019-12-31,Test-7,1,40,20,100000,10,1,100000.000000
8,2020-01-31,Test-7,1,40,20,100000,51,8,94954.889464
9,2020-02-29,Test-7,1,40,20,100000,3,1,100000.000000

Test-8
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
114338.7373326396
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 16
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
117551.60592727622
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 75
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
100492.9284449806
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 10
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-8,2,40,20,100000,22,2,114338.737333
1,2019-06-30,Test-8,2,40,20,100000,6,1,100000.000000
2,2019-08-31,Test-8,2,40,20,100000,16,2,117551.605927
3,2019-10-31,Test-8,2,40,20,100000,75,9,100492.928445
4,2019-12-31,Test-8,2,40,20,100000,10,1,100000.000000

Test-9
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
107083.90042555577
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
93010.85219015997
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 75
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
99942.31351766043
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-9,3,40,20,100000,22,2,107083.900426
1,2019-07-31,Test-9,3,40,20,100000,7,2,93010.852190
2,2019-10-31,Test-9,3,40,20,100000,75,9,99942.313518

Test-10
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-05-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-05-31 00:00:00
End: 2019-05-31 00:00:00
Future Start 2019-05-31 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103102.7625649694
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-09-30 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
108436.04636067325
-------------------------------
Start: 2018-09-30 00:00:00
End: 2019-09-30 00:00:00
Future Start 2019-09-30 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 163
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-11-30 00:00:00
Total companies which shows RSI Divergence 35
Start: 2018-11-30 00:00:00
End: 2019-11-30 00:00:00
Future Start 2019-11-30 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 11
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 8
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
113503.48316864952
-------------------------------
Start: 2019-01-31 00:00:00
End: 2020-01-31 00:00:00
Future Start 2020-01-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 52
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
90023.6749361241
-------------------------------
Start: 2019-02-28 00:00:00
End: 2020-02-29 00:00:00
Future Start 2020-02-29 00:00:00
Future End 2020-03-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-10,1,30,20,100000,3,0,100000.000000
1,2019-05-31,Test-10,1,30,20,100000,6,0,100000.000000
2,2019-06-30,Test-10,1,30,20,100000,14,3,103102.762565
3,2019-07-31,Test-10,1,30,20,100000,4,1,100000.000000
4,2019-08-31,Test-10,1,30,20,100000,37,7,108436.046361
5,2019-11-30,Test-10,1,30,20,100000,11,1,100000.000000
6,2019-12-31,Test-10,1,30,20,100000,8,2,113503.483169
7,2020-01-31,Test-10,1,30,20,100000,52,9,90023.674936
8,2020-02-29,Test-10,1,30,20,100000,2,0,100000.000000

Test-11
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-06-30 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-06-30 00:00:00
End: 2019-06-30 00:00:00
Future Start 2019-06-30 00:00:00
Future End 2019-08-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
103950.33236627167
-------------------------------
Start: 2018-08-31 00:00:00
End: 2019-08-31 00:00:00
Future Start 2019-08-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
115576.75591072212
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2019-12-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
105919.98114634084
-------------------------------
Start: 2018-12-31 00:00:00
End: 2019-12-31 00:00:00
Future Start 2019-12-31 00:00:00
Future End 2020-02-29 00:00:00
Total companies which shows RSI Divergence 8
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
102712.46706335628
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-11,2,30,20,100000,3,0,100000.000000
1,2019-06-30,Test-11,2,30,20,100000,14,3,103950.332366
2,2019-08-31,Test-11,2,30,20,100000,37,7,115576.755911
3,2019-10-31,Test-11,2,30,20,100000,35,7,105919.981146
4,2019-12-31,Test-11,2,30,20,100000,8,2,102712.467063

Test-12
Start: 2018-04-30 00:00:00
End: 2019-04-30 00:00:00
Future Start 2019-04-30 00:00:00
Future End 2019-07-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-07-31 00:00:00
End: 2019-07-31 00:00:00
Future Start 2019-07-31 00:00:00
Future End 2019-10-31 00:00:00
Total companies which shows RSI Divergence 4
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-10-31 00:00:00
End: 2019-10-31 00:00:00
Future Start 2019-10-31 00:00:00
Future End 2020-01-31 00:00:00
Total companies which shows RSI Divergence 35
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
103555.68631440634
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-12,3,30,20,100000,3,0,100000.000000
1,2019-07-31,Test-12,3,30,20,100000,4,1,100000.000000
2,2019-10-31,Test-12,3,30,20,100000,35,7,103555.686314

In [4]:
master_result

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2019-04-30,Test-1,1,40,10,100000,3,0,100000.000000
1,2019-05-31,Test-1,1,40,10,100000,7,2,93182.764110
2,2019-06-30,Test-1,1,40,10,100000,53,10,98088.179468
3,2019-07-31,Test-1,1,40,10,100000,8,2,95954.790469
4,2019-08-31,Test-1,1,40,10,100000,25,7,111123.224366
...,...,...,...,...,...,...,...,...,...
3,2019-10-31,Test-11,2,30,20,100000,35,7,105919.981146
4,2019-12-31,Test-11,2,30,20,100000,8,2,102712.467063
0,2019-04-30,Test-12,3,30,20,100000,3,0,100000.000000
1,2019-07-31,Test-12,3,30,20,100000,4,1,100000.000000
2,2019-10-31,Test-12,3,30,20,100000,35,7,103555.686314

In [5]:
test_result = master_result[master_result['Test']=='Test-1']
test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
test_result

test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
test_return 

report = pd.DataFrame()
report_rsi_list = []
report_breakout_list = []
report_month = []
for test in experiments:
    report_breakout_list.append(experiments[test][3])
    report_rsi_list.append(experiments[test][4])
    report_month.append(experiments[test][5])

report['RSI Window'] = report_rsi_list
report['Breakout Window'] = report_breakout_list
report['Investment Period'] = report_month
    
test_return_list = []
for test in experiments:
    test_result = master_result[master_result['Test']==test]
    test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
    test_result
    test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
    test_return_list.append(test_return)
    
# Adding a Returns column
report['Returns (%)'] =  test_return_list

# Changing the index name to test names
report.set_axis(experiments.keys(),inplace=True)
report

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        -3.33
Test-2           40               10                  2        17.13
Test-3           40               10                  3        -6.57
Test-4           30               10                  1        31.58
Test-5           30               10                  2        29.32
Test-6           30               10                  3        12.64
Test-7           40               20                  1         7.91
Test-8           40               20                  2        35.07
Test-9           40               20                  3        -0.46
Test-10          30               20                  1        14.24
Test-11          30               20                  2        30.71
Test-12          30               20                  3         3.56

In [6]:
report[report['Investment Period']==1]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        -3.33
Test-4           30               10                  1        31.58
Test-7           40               20                  1         7.91
Test-10          30               20                  1        14.24

In [7]:
report[report['Investment Period']==2]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-2           40               10                  2        17.13
Test-5           30               10                  2        29.32
Test-8           40               20                  2        35.07
Test-11          30               20                  2        30.71

In [8]:
report[report['Investment Period']==3]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-3           40               10                  3        -6.57
Test-6           30               10                  3        12.64
Test-9           40               20                  3        -0.46
Test-12          30               20                  3         3.56

In [9]:
master_result.to_csv('Experiment 2019-2020 Master Result.csv')
report.to_csv('Experiment 2019-2020 Report.csv')