In [1]:
import yfinance as yf
from datetime import datetime
import pandas as pd
# import warnings
# warnings.filterwarnings('ignore' )

In [2]:

tickers = ["TATAMOTORS.NS","RELIANCE.NS"]
start = '2020-01-01'
end = '2021-12-21'
source = 'yahoo'
data = yf.download(tickers,start=start,end=end)

[*********************100%***********************]  2 of 2 completed

In [3]:
data.columns # checking all the columns of the downloaded data

MultiIndex([('Adj Close',   'RELIANCE.NS'),
            ('Adj Close', 'TATAMOTORS.NS'),
            (    'Close',   'RELIANCE.NS'),
            (    'Close', 'TATAMOTORS.NS'),
            (     'High',   'RELIANCE.NS'),
            (     'High', 'TATAMOTORS.NS'),
            (      'Low',   'RELIANCE.NS'),
            (      'Low', 'TATAMOTORS.NS'),
            (     'Open',   'RELIANCE.NS'),
            (     'Open', 'TATAMOTORS.NS'),
            (   'Volume',   'RELIANCE.NS'),
            (   'Volume', 'TATAMOTORS.NS')],
           )

In [4]:
data1= data.Close # applying formulae on close column

In [5]:
data1 = pd.DataFrame(data1)# converting data1 in pandas data frame

In [6]:
data1

            RELIANCE.NS  TATAMOTORS.NS
Date
2020-01-01  1495.424927     184.449997
2020-01-02  1520.883545     193.750000
2020-01-03  1522.716187     191.100006
2020-01-06  1487.400879     185.649994
2020-01-07  1510.284058     184.699997
...                 ...            ...
2021-12-14  2380.149902     489.399994
2021-12-15  2373.199951     491.649994
2021-12-16  2403.899902     491.950012
2021-12-17  2340.449951     470.200012
2021-12-20  2277.350098     447.049988

[490 rows x 2 columns]

In [7]:
def firstdiff(df,n =14):        #created a user defined function
                                # option to choose no. of moving averge days
    change = []
    change_up = []
    change_down = []
    avg_up= []      # empty list                                           
    avg_down = []
    rs = []
    rsi = []
    
    for i in data1:
        change = data1.diff().dropna()    # first order differencing
        change_up = change.clip(lower=0) # for values less than 0 return 0
        change_down = (-1 * change.clip(upper=0)).abs()# for values greater than 0 return 0
        avg_up = change_up.rolling(n).mean()
        avg_down = change_down.rolling(n).mean().abs()
        rs = avg_up/avg_down   # calculating rs
        rsi = 100-(100/(1+rs))  # calculating RSI
    return (rsi)
a = firstdiff(data1,14)

# functions are for me

In [8]:
a[10:]

            RELIANCE.NS  TATAMOTORS.NS
Date
2020-01-16          NaN            NaN
2020-01-17          NaN            NaN
2020-01-20          NaN            NaN
2020-01-21    54.600521      57.202067
2020-01-22    49.591975      40.893862
...                 ...            ...
2021-12-14    52.178856      50.343249
2021-12-15    38.598494      49.487893
2021-12-16    49.085153      71.124411
2021-12-17    40.094105      54.573966
2021-12-20    38.078405      45.019399

[479 rows x 2 columns]

In [9]:
# if data1.loc != int:
#     data1 = data1.dropna()

In [10]:
# change_up = data1["firstdiff"].copy()
#change_down = data1["firstdiff"].copy()

In [11]:
# change_up[change_up<0] = 0
#change_down[change_down>0] = 0
#change_down