In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date, timedelta
import datetime
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [50]:
# Downloading the Dataset
dataset_1 = yf.download('RELIANCE.NS INFY.NS HDFCBANK.NS ICICIBANK.NS HDFC.NS TCS.NS KOTAKBANK.NS LT.NS HINDUNILVR.NS AXISBANK.NS ITC.NS BAJFINANCE.NS SBIN.NS BHARTIARTL.NS ASIANPAINT.NS HCLTECH.NS MARUTI.NS TITAN.NS TATASTEEL.NS BAJAJFINSV.NS', start='2016-01-01', end='2021-12-31', progress=False)

In [51]:
# Getting the Closing Price Data
dataset_1 = dataset_1['Close']

In [53]:
# dataset_1.head()

In [54]:
# a_date = datetime.date(2021, 12, 31)
# n = 40
# days = datetime.timedelta(n)
# new_date = a_date - days
# new_date = new_date.strftime('%Y-%m-%d')

In [56]:
# new_date

In [57]:
# new_dataset = dataset_1.loc[new_date:,:]

In [58]:
##Fitting the Linear Regression

In [64]:
dataset_2 = dataset_1.copy()
dataset_2 = dataset_2.rolling(window = 5).mean().dropna()

In [78]:
dataset_2['ASIANPAINT.NS'][-40:]

Date
2021-11-03    3122.440039
2021-11-04    3131.030029
2021-11-08    3138.610010
2021-11-09    3143.279980
2021-11-10    3144.269971
2021-11-11    3122.839990
2021-11-12    3115.569971
2021-11-15    3121.709961
2021-11-16    3123.019971
2021-11-17    3147.409961
2021-11-18    3180.079980
2021-11-22    3207.750000
2021-11-23    3211.120020
2021-11-24    3212.180029
2021-11-25    3194.980029
2021-11-26    3178.230029
2021-11-29    3154.840039
2021-11-30    3146.460010
2021-12-01    3142.689990
2021-12-02    3149.960010
2021-12-03    3143.429980
2021-12-06    3122.229980
2021-12-07    3099.570020
2021-12-08    3093.640039
2021-12-09    3093.260010
2021-12-10    3127.800000
2021-12-13    3176.110010
2021-12-14    3229.539990
2021-12-15    3268.229980
2021-12-16    3292.210010
2021-12-17    3284.320020
2021-12-20    3276.239990
2021-12-21    3271.010010
2021-12-22    3266.640039
2021-12-23    3260.500000
2021-12-24    3268.720020
2021-12-27    3275.310010
2021-12-28    3294.679980
2021-12-29    3312.149951
2021-12-30    3331.709961
Name: ASIANPAINT.NS, dtype: float64

In [61]:
def Linear_Regression(n):
    #dataset_1 = dataset_1
#     a_date = datetime.date(2021, 12, 31)
#     n = 40
#     days = datetime.timedelta(n)
#     new_date = a_date - days
#     new_date = new_date.strftime('%Y-%m-%d')
#     new_dataset = dataset_1.loc[new_date:,:]
#     y_hat = new_dataset.copy()
#     SMA_5 = new_dataset['AXISBANK.NS'].rolling(window = 5).mean() # SMA of last 5 values

#    Adding the prediction to the y_hat data frame
#     y_hat['SMA_5'] = SMA_5
    y_hat = y_hat.iloc[5:]
    X = y_hat[['AXISBANK.NS']]
    Y = y_hat[['SMA_5']]
    regr = LinearRegression()
    regr.fit(X, Y)
    return regr.coef_

In [34]:
y_hat = new_dataset.copy()

In [35]:
y_hat = y_hat.rolling(window=5).mean().dropna()

                 SMA_5
Date
2021-11-29  672.710010
2021-11-30  666.710010
2021-12-01  665.600000
2021-12-02  664.839990
2021-12-03  667.089990
2021-12-06  669.489990
2021-12-07  675.759985
2021-12-08  679.259985
2021-12-09  682.829993
2021-12-10  685.839990
2021-12-13  694.019995
2021-12-14  698.800000
2021-12-15  701.880005
2021-12-16  705.020007
2021-12-17  705.190015
2021-12-20  699.260010
2021-12-21  690.250000
2021-12-22  681.619995
2021-12-23  675.449988
2021-12-24  671.169983
2021-12-27  670.729993
2021-12-28  672.650000
2021-12-29  672.880005
2021-12-30  670.890002

In [12]:
SMA_5 = new_dataset['AXISBANK.NS'].rolling(window = 5).mean() # SMA of last 5 values

# Adding the prediction to the y_hat data frame
y_hat['SMA_5'] = SMA_5
y_hat = y_hat.iloc[5:]

In [13]:
X = y_hat[['AXISBANK.NS']]
Y = y_hat[['SMA_5']]

In [15]:
regr = LinearRegression()

In [16]:
regr.fit(X, Y)

LinearRegression()

In [22]:
regr.coef_

array([[0.53816868]])

In [156]:
dataset_1 = yf.download('RELIANCE.NS INFY.NS HDFCBANK.NS ICICIBANK.NS HDFC.NS TCS.NS KOTAKBANK.NS LT.NS HINDUNILVR.NS AXISBANK.NS ITC.NS BAJFINANCE.NS SBIN.NS BHARTIARTL.NS ASIANPAINT.NS HCLTECH.NS MARUTI.NS TITAN.NS TATASTEEL.NS BAJAJFINSV.NS', start='2016-01-01', end='2021-12-31', progress=False)

In [157]:
dataset_1 = dataset_1['Close']

In [45]:
y_hat['ASIANPAINT.NS'].shape

(25,)

In [24]:
Linear_Regression(40)

array([[0.53816868]])

In [25]:
def Linear_Regression(n):
    #dataset_1 = dataset_1
    a_date = datetime.date(2021, 12, 31)
    n = 40
    days = datetime.timedelta(n)
    new_date = a_date - days
    new_date = new_date.strftime('%Y-%m-%d')
    new_dataset = dataset_1.loc[new_date:,:]
    y_hat = new_dataset.copy()
    for i in y_hat.columns:
        SMA_5[i] = new_dataset[i].rolling(window = 5).mean() # SMA of last 5 values